header {
  height: 200px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: aqua;
}

.container {
  display: grid;
  background-color: beige;
  padding: 20px;

  grid-template-columns: 500px 1fr;
  grid-template-rows: 600px 1fr;
  grid-gap: 20px;

  grid-template-areas:
    "card board"
    "card reviewBoard";
}

.container > div {
  border: solid 2px blue;
}

.card {
  grid-area: card;
}
.board {
  grid-area: board;
}
.reviewBoard {
  grid-area: reviewBoard;
}

.movieTicket {
  position: relative;
}

.carD {
  position: absolute;
  z-index: 1;
  width: 330px;
  height: 700px;
  background-color: wheat;
  margin: 140px 23px 80px;
}

.user {
  display: flex;
  height: 20px;
  justify-content: flex-end;
  column-gap: 5px;
}

.review {
  width: 300px;
  height: 150px;
  display: flex;
}
