header {
  height: 200px;
  background-color: RGB(204, 10, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font: bold;
}

footer {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: RGB(204, 10, 34);
}

.container-fluid {
  display: grid;
  background-color: beige;
  padding: 20px;

  grid-template-columns: 500px 1fr 400px;
  grid-template-rows: 1fr 200px;
  grid-gap: 20px;

  grid-template-areas:
    "card board board"
    "card reviewBoard .";
}

/* .container-fluid > div {
  border: solid 2px blue;
} */

.cardGrid {
  grid-area: card;
}
.board {
  width: 1300px;
  grid-area: board;
  background-color: white;
  border: solid 1px grey;

  margin: 15px 10px 15px;
}
.reviewBoard {
  grid-area: reviewBoard;
}

.movieTicket {
  position: relative;
}

.card {
  position: absolute;
  z-index: 1;
  width: 330px;
  height: 560px;
  background-color: wheat;
  margin: 115px 23px 80px;
}

.user {
  display: flex;
  height: 30px;
  justify-content: flex-start;
  column-gap: 5px;
}

.review {
  margin: 10px 0px 10px;
  width: 1200px;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}

.rtan {
  position: absolute;
  z-index: 1;
  right: 6px;
  bottom: -235px;
}

.boardBar {
  width: 600px;
  height: 30px;
}

.reviewBtn {
  background-color: brown;
  color: white;
}

.card-title {
  font-weight: bold;
  text-align: center;
}

.card-text {
  font-weight: bold;
  color: brown;
  text-align: right;
}
