header {
  height: 200px;
  background-color: RGB(204, 10, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font: bold;
}

.searchInput {
  width: 400px;
}

footer {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: RGB(204, 10, 34);
}
.container-fluid {
  display: grid;
  background-color: beige;

  padding: 20px;

  grid-template-columns: 10% 20% 1fr;
  grid-template-rows: 50px 1fr 1fr;
  grid-gap: 20px;

  grid-template-areas:
    ". sort search"
    "category main main"
    ". main main";
}

/* .container-fluid > div {
  border: solid 2px blue;
} */

.sort {
  grid-area: sort;
  display: flex;
  justify-content: flex-end;
  background-color: brown;
  border-radius: 17px;
  color: white;
  padding: 10px;
}

.search {
  grid-area: search;
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
  column-gap: 5px;
  background-color: brown;
  border-radius: 17px;
  color: white;
}
.category {
  grid-area: category;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 10px;
}
.main {
  grid-area: main;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.card {
  width: 300px;
  height: 780px;
  /* border: solid 1px blue; */
  background-color: azure;
  display: flex;
}

.search > button {
  background-color: black;
  color: white;
}
.category > button {
  background-color: brown;
  height: 70px;
  color: white;
  border-radius: 17px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  line-height: normal;
}

.text-body-secondary {
  font-weight: bold;
  color: brown;
  position: absolute;
  bottom: 13px;
  right: 13px;
}
