header {
  height: 200px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: aqua;
}
.container {
  display: grid;
  background-color: beige;

  padding: 20px;

  grid-template-columns: 10% 20% 1fr;
  grid-template-rows: 50px 1fr;
  grid-gap: 20px;

  grid-template-areas:
    "none sort search"
    "category main main";
}

.container > div {
  border: solid 2px blue;
}

.sort {
  grid-area: sort;
}
.search {
  grid-area: search;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px 10px;
}
.category {
  grid-area: category;
}
.main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.card {
  width: 300px;
  height: 400px;
  border: solid 1px blue;
  background-color: azure;
}
